.keithLeeImage {
  width: 18px;
  height: 18px;
  vertical-align: middle; /* Aligns the image vertically with the text */
  margin-right: 10px; /* Adjust the margin as needed to provide spacing between the image and h3 */
}

.image-container {
  display: inline-block;
  max-width: 100%; /* Ensure the image won't exceed the container width */
  padding-left: 10px;
}

/* Apply this style to the image */
.image-container img {
  vertical-align: middle;
}

.image-container:hover a {
  opacity: 1;
}

.image-container a {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition effect */
  font-size: small;
}
